// font
@font-face {
  font-family: rubik;
  src: url(./font/Rubik-Italic-VariableFont_wght.ttf);
}

// display
@each $value in $display {
  .d-#{$value} {
    display: $value !important;
  }
}

// position
@each $value in $position {
  .p-#{$value} {
    position: $value !important;
  }
}

// top
@for $i from 0 to 5 {
  .top-#{name-parse-percent25($i)} {
    top: parse-percent25($i) !important;
  }
}

// left
@for $i from 0 to 5 {
  .left-#{name-parse-percent25($i)} {
    left: parse-percent25($i) !important;
  }
}

// bottom
@for $i from 0 to 5 {
  .bottom-#{name-parse-percent25($i)} {
    bottom: parse-percent25($i) !important;
  }
}

// right
@for $i from 0 to 5 {
  .right-#{name-parse-percent25($i)} {
    right: parse-percent25($i) !important;
  }
}
