// font
@font-face {
  font-family: rubik;
  src: url(./font/Rubik-Italic-VariableFont_wght.ttf);
}

// display
@each $value in $display {
  .d-#{$value} {
    display: $value !important;
  }
}

// float
.float-r {
  float: right;
}

.float-l {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// text
.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

// direction
.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: rtl !important;
}

// container
.container {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 0 10px;
}

@include responsive("tablet") {
  .container {
    padding: 0 20px;
  }
}

@include responsive("desktop") {
  .container {
    padding: 0 30px;
  }
}
