// background color
// text color
@each $color-name, $color-value in $colors {
  @each $color-state-name, $color-state-value in $color-value {
    .bg-#{$color-name}-#{$color-state-name} {
      background-color: $color-state-value !important;
    }

    .text-#{$color-name}-#{$color-state-name} {
      color: $color-state-value !important;
    }

    @if $color-state-name == "md" {
      .bg-#{$color-name} {
        background-color: $color-state-value !important;
      }
      .text-#{$color-name} {
        color: $color-state-value !important;
      }
    }
  }
}

// background dark
// text dark
.bg-dark {
  background-color: $dark !important;
}

.text-dark {
  color: $dark !important;
}

// background light
// text light
.bg-light {
  background-color: $light;
}

.text-light {
  color: $light;
}
