// typography
@mixin typography($fs, $fw, $ls, $lh) {
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  margin-bottom: 2rem;
  color: map-get($secondary, "xl");
}

// layout sizes responsive
@mixin responsive($size) {
  @if ($size == "tablet") {
    @media screen and(min-width: $tablet) {
      @content;
    }
  }

  @if ($size == "desktop") {
    @media screen and(min-width: $desktop) {
      @content;
    }
  }
}
