// box shadow
.shadow-sm:not(.shadow-light) {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.shadow-md:not(.shadow-light),
.shadow:not(.shadow-light) {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.shadow-lg:not(.shadow-light) {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.3);
}

// light
.shadow-sm.shadow-light {
  box-shadow: 0 4px 5px 0 rgba(255, 255, 255, 0.14),
    0 1px 10px 0 rgba(255, 255, 255, 0.12),
    0 2px 4px -1px rgba(255, 255, 255, 0.3);
}

.shadow-md.shadow-light,
.shadow.shadow-light {
  box-shadow: 0 8px 17px 2px rgba(255, 255, 255, 0.14),
    0 3px 14px 2px rgba(255, 255, 255, 0.12),
    0 5px 5px -3px rgba(255, 255, 255, 0.3);
}

.shadow-lg.shadow-light {
  box-shadow: 0 16px 24px 2px rgba(255, 255, 255, 0.14),
    0 6px 30px 5px rgba(255, 255, 255, 0.12),
    0 8px 10px -7px rgba(255, 255, 255, 0.3);
}
