// colors
$danger: (
  "sm": #e57373,
  "md": #f44336,
  "lg": #d32f2f,
  "xl": #b71c1c,
);

$primary: (
  "sm": #64b5f6,
  "md": #2196f3,
  "lg": #1976d2,
  "xl": #0d47a1,
);

$success: (
  "sm": #81c784,
  "md": #4caf50,
  "lg": #388e3c,
  "xl": #1b5e20,
);

$warning: (
  "sm": #ff8a65,
  "md": #ff5722,
  "lg": #e64a19,
  "xl": #bf360c,
);

$secondary: (
  "sm": #90a4ae,
  "md": #607d8b,
  "lg": #455a64,
  "xl": #263238,
);

$info: (
  "sm": #4fc3f7,
  "md": #4fc3f7,
  "lg": #0288d1,
  "xl": #01579b,
);

$dark: #000;

$light: #fff;

// displaies
$display: none, block, inline, inline-block, flex, inline-flex, grid,
  inline-grid;

// positions
$position: fixed, sticky, relative, absolute;

// flex
$justify-content-state: start, center, end, space-around, space-between,
  space-evenly;

$align-items-state: start, center, end, stretch;

$direction-state: row, row-reverse, column, column-reverse;
